@import '../../common_projects_utilities/css/reset';

/* VARIABLES */
/* Fonts */
$roboto: 'Roboto', sans-serif;
$dark-color: #000;
$light-color: #fff;


/* GENERAL */
body {
    font-family: $roboto;
    color: $dark-color;
}

/* COMMON */
.block {display: block;}
.btn {
    box-sizing: border-box;
    height: 32px;
    padding: 8px 0;
    text-align: center;
    box-shadow: 1px 2px 5px 0 rgba(197,197,197,.5);
    border: 0;
    border-radius: 2px;
    background: $light-color;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 16px;
    &:focus {outline: none;}
    &--year, &--dif {
        margin-bottom: 8px;
        font-weight: 300;
        width: 71px;
    }
    &--position {width: 138px;}
    &--party {
        width: 142px;
        span {
            position: relative;
            padding-left: 15px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 11px;
                height: 11px;
                border-radius: 50%;
            }
        }
    }
    &--psc {
        span::before {background: #ea5458}
    }
    &--erc {
        span::before {background: #f9b33c}
    }
    &--vox {
        span::before {background: #77be2d}
    }
    &--junts {
        span::before {background: #20c0b2}
    }
    &--cup {
        span::before {background: #fff468}
    }
    &--pp {
        span::before {background: #48aafd}
    }
    &--cs {
        span::before {background: #f45a09}
    }
    &--podem {
        span::before {background: #692772}
    }
    &--active {
        background: $dark-color;
        color: $light-color;
    }
    &--hidden {
        opacity: 0;
        visibility: hidden;
    }

    span {
        pointer-events: none;
    }
}

/* WIDGET */
.widget {
    width: 100%;
    max-width: 640px;
    height: 766px;
    box-sizing: border-box;
    padding: 8px 0;
    margin: 0 auto;
}

/* Title */
.title {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 7px;
    margin-bottom: 16px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: $dark-color;
    }
}

/* Buscador */
.autocomplete {
    position: relative;
    background: url(https://www.ecestaticos.com/file/834ce689c803cfe259efaffe7623c77a/1613122512-icono-lupa.svg)no-repeat 9px 7px;
    background-size: 18px;
    &::before {
        content: '';
        position: absolute;
        left: 42px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background: $dark-color;

    }
    input {
        box-sizing: border-box;
        width: 100%;
        height: 32px; 
        border: 1px solid #121212;
        border-radius: 2px;
        padding: 2px 0 2px 50px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.87;
        color: #828282;  
        background: transparent;
        &::placeholder {color: #828282;}      
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
        cursor: pointer;

        width: calc(100% - 2.5px);
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;        
    }

    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }

    #deleteInput {
        box-sizing: border-box;

        //Posición
        position: absolute;
        width: auto;
        height: 26px;

        top: 50%;
        transform: translateY(-50%);
        right: 3px;

        //Theme del span        
        padding: 4px 11px 4px 11px;
        border-radius: 2px;
        box-shadow: 1px 2px 5px 0 rgba(197,197,197,.5);
        background-color: $dark-color;
        cursor: pointer;

        //Texto
        font-weight: 700;
        font-size: 15px;
        color: $light-color;

        span {
            pointer-events: none;
        }

        &.disabled {
            opacity: 0.1;
            border-radius: 2px;
            box-shadow: 1px 2px 5px 0 rgba(197, 197, 197, 0.5);
            background-color: #000000;

            color: #fff;
            
            pointer-events: none;
            cursor: initial;
        }
    }
}

/* Mapa */
#map {
    position: relative;
    width: 100%;
    height: 350px;        
    margin: 24px 0px;
    background: rgba(#d7d7d7,.2);
    overflow: hidden;
    path {cursor: pointer;}
}

.map-filters {
    position: absolute;
    right: 16px;
    bottom: 16px;
    &--legend {
        padding: 8px;
        background: rgba(#f6f6f6,.9);
        box-sizing: border-box;
    }
    &__item {
        display: flex;
        flex-direction: column;

        display: none;
    }

    &--active {
        display: inherit !important;
    }
}

//Leyenda > Independentismo
.legend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &:first-child {margin-bottom: 8px;}
    &__label {
        font-weight: 500;
        font-size: 12px;
        margin-right: 8px;
    }
    &__icon {
        width: 11px;
        height: 11px;
        &--indep {background: #e0e400}
        &--noindep {background: #515151}
    }
}

.map-info {
    position: absolute;
    right: 16px;
    top: 16px;

    display: none;

    &--active {
        display: initial;
    }
}

.gradient-box {
    box-sizing: border-box;
    height: 221px;
    padding: 8px;
    background: rgba(#f6f6f6,.9);
    display: flex;
    
    &__labels {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 8px;
        height: 100%;
    }
    &__label {
        font-weight: 500;
        font-size: 12px;
    }
    &__value {
        width: 8px;
        height: 100%;
        &--psc {background: linear-gradient(#ea5458, rgba(#ea5458,0));}
        &--erc {background: linear-gradient(#f9b33c, rgba(#f9b33c,0));}
        &--vox {background: linear-gradient(#77be2d, rgba(#77be2d,0));}
        &--jxc {background: linear-gradient(#20c0b2, rgba(#20c0b2,0));}
        &--cup {background: linear-gradient(#fff468, rgba(#fff468,0));}
        &--pp {background: linear-gradient(#48aafd, rgba(#48aafd,0));}
        &--cs {background: linear-gradient(#f45a09, rgba(#f45a09,0));}
        &--podem {background: linear-gradient(#692772, rgba(#692772,0));}
    }
}

/* Filtros */
//Veremos si se reutiliza en ambas
.section {
    &__title {
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 7px;
        border-bottom: 1px dotted rgba(0,0,0,.4);
        margin-bottom: 16px;
    }
    &__filters {
        margin: 16px 0px 8px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

/* Resumen participación */
//Veremos si se reutiliza en ambas
.election-props {
    display: flex;
    justify-content: space-between;
    > div {width: 48.5%;}
    &__title {
        font-size: 15px;
        letter-spacing: .13px;
        margin-bottom: 7px;
        span:first-of-type {
            font-weight: 700;
            margin-right: 16px;
        }
        span:last-of-type {
            font-weight: 400;
            color: #a7a7a7;
        }
    }
    &__bar {
        width: 100%;
        height: 7px;
        background: #e1e1e1;
        border-radius: 2px;
    }
    &__value {
        height: 7px;
        border-radius: 2px;
        background: #0e0e0e;
    }
}

.only-desktop {
    .filters {
        width: 100%;
        margin-bottom: 16px;
    }
}

.only-mobile {
    display: none;
    //¿Desarrollar aquí los elementos o en el apartado de media query?
}

////// 
// ESTILOS TOOLTIP
//////
.cat-tooltip {
    font-family: 'Roboto'; 
	position: absolute;
    top: 100px;
    left: 20px;
	display: none;        
	min-width: 100px;
	max-width: 145px;                   
	height: auto;                   
	padding: 2.5px 12.5px 2.5px 3px;               
	font-size: 11.5px;      
	background: #e6e6e6; 

    span {
        display: block;
        margin-bottom: 2.5px;
    }

    #close-tooltip {
        position: absolute;
        top: 2.5px;
        right: 2.5px;

        font-size: 12px;

        cursor: pointer;
    }
}

///// Corte en media query: de mapa a tabla
@media only screen and (max-width: 525px){ //Cambiar por el correcto (también en la función JS)
    .widget {padding: 8px 8px 14px;}
    .title {
        &::after {width: 40px;}
    }
    .autocomplete {
        background: url(https://www.ecestaticos.com/file/834ce689c803cfe259efaffe7623c77a/1613122512-icono-lupa.svg)no-repeat 9px 12px;
        input {
            height: 42px; 
            padding: 8px 0 8px 50px;     
        }
    }
    .mobile-info {margin-top: 24px;}
    .search {
        margin-bottom: 7px;
        &__label {
            font-weight: 500;
            font-size: 15px;
        }
        &__result {font-weight: 900;}
    }
    .winner {
        padding: 16px 0;
        text-align: center;
        border-top: 1px dotted rgba(0,0,0,.4);
        border-bottom: 1px dotted rgba(0,0,0,.4);
        margin-bottom: 16px;
        &__label {
            font-weight: 400;
            font-size: 15px;
            letter-spacing: .13px;
        }
    }
    .label {
        &--noindep {
            font-weight: 900;
            color: $light-color;
            background: $dark-color;
        }
        &--indep {
            font-weight: 900;
            color: $dark-color;
            background: #e0e400;
        }
        &--equal {
            font-weight: 900;
            color: $dark-color;
            background: #d7d7d7;
        }
    }
    .table {
        &__row {
            display: flex;
            justify-content: space-between;
            &--content {
                padding: 5px 0;
                border-bottom: 1px solid #efefef;
                width: 100%;
            }
            &--disabled {opacity: .4}
        }
        &__header {
            padding-bottom: 5px;
            border-bottom: 1px dotted #efefef;
        }
        &__column {
            //width: 25%;
            &:nth-child(1), &:nth-child(2) {width: 30%}
            &:nth-child(3), &:nth-child(4) {width: 20%}
        }
        &__heading {
            font-weight: 700;
            font-size: 15px;
            color: #1c1c1c;
            text-align: center;
        }
        &__wrapper {overflow: hidden;}
        &__content {
            display: flex;
            flex-direction: column;
            height: 305px;
            flex-wrap: wrap;
            transition: transform .6s;
            .table__column {
                &:nth-child(2), &:nth-child(3) {text-align: center;}
                &:nth-child(4) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    &.table__column--center {justify-content: center;}
                }
            }
        }
        &__party {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .13px;
            color: #4a4a4a;
            padding-left: 17px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background: $dark-color;
            }
            &--recortes {
                &::before {background: #575757;}
            }
            &--jxcat {
                &::before {background: #20C0B2;}
            }
            &--vox {
                &::before {background: #77BE2D;}
            }
            &--psc {
                &::before {background: #F60B01;}
            }
            &--cs {
                &::before {background: #f45a09;}
            }
            &--erc {
                &::before {background: #f9b33c;}
            }
            &--en-comu {
                &::before {background: #692772;}
            }
            &--pp {
                &::before {background: #48AAFD;}
            }
            &--pum-j {
                &::before {background: #7EC2D6;}
            }
            &--cup {
                &::before {background: #fff200;}
            }
            &--pdecat {
                &::before {background: #16447B;}
            }
            &--pnc {
                &::before {background: #2DA8B8;}
            }
        }
        &__value {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: .16px;
            color: #4a4a4a;
            &--dif {color: #aeaeae;}
        }
        &__icon {margin-left: 4px;}
    }
    .controls {
        margin-top: 16px;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 2px;
        background: #121212;
        transition: background .6s;
        &--disabled {background: rgba(#121212,.3);}
    }
    .dots {display: flex;}
    .dot {
        margin: 0 4px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #c4c4c4;
        transition: background .6s;
        &--active {background: $dark-color;}
    }
    .section {
        &__title {margin-top: 24px;}
    }
    .election-props {
        flex-direction: column;
        > div {width: 100%;}
        &__escrutinio {margin-bottom: 16px;}
        &__title {
            span:first-of-type {margin-right: 0;}
            > span:first-of-type {margin-right: 11px;}
        }
    }
    .only-desktop {display: none;}
    .only-mobile {display: block;}
}